@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies List</h2>
<div class="form-group">
    @Html.ActionLink("New Movies", "New", "Movies", null, new { @class = "btn btn-primary" })
</div>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Movie Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
    {
    <script>
    $(document).ready(function () {
        var table = $("#movies").DataTable({
            ajax: {
                url: "/api/movies",
                deferRender: true,
                dataSrc: ""               
            },
            columns: [{
                data: null,
                orderable: false,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
                
                }, {
                data: "name",
                render: function (data, type, movie) {
                    return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                }

                },{
                    data: "genre.name"

                }, {
                    data: "name",
                    width: "15%",
                    render: function (data, type, movie) {
                        return "<button class='btn btn-danger .js-delete' data-movie-id='" + movie.id + "'>Delete</button> <a href='/movies/edit/" + movie.id + "' class='btn btn-primary'>Edit</a>";
                    }

                }
            ]
        });

        $("#movies").on("click", ".js-delete", function () {
            var button = $(this);
            bootbox.confirm({
                message: "Are you sure to delete this record?",
                buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                }
            });
        });
    });
    </script>
    }