@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer List</h2>
<div class="form-group">
    @Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-primary" })
</div>
    
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Membership Type</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>         
    </tbody>
</table>

@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    deferRender: true,
                    dataSrc:""
                },
                columns: [{
                        data: null,
                        render: function (data, type, row, meta) {
                            return meta.row + meta.settings._iDisplayStart + 1;
                        }
                    }, {
                        data: name, //or you can input name becuase already display in customers.name
                        render: function (data, type, customers) {
                            return "<a href='/customers/edit/" + customers.id + "'>" + customers.name + "</a>";
                        }
                    }, {
                        data: "membershipType.name"
                    }, {
                        data: "id",
                        width: "15%",
                        render: function (data, type, customers) {
                            return "<button data-customer-id=" + customers.id + " class='btn btn-danger js-delete'>Delete</button> <a href='/customers/edit/" + customers.id + "' class='btn btn-primary'>Edit</a>";
                        }
                    }
                ]
            });

            $("#customers").on("click",".js-delete", function () {
                let button = $(this);
                bootbox.confirm({
                    message: "Are you sure want to detele thsi record?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });

        });
    </script>
        
    }
